################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Models
/DAL
/Controller
/BusinessLogic
/.vs
/Resources
/packages
