<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="APPID"  value="1"/>
    <add key="IP1"  value="192.168.1.205"/>
    <add key="IP2"  value="192.168.1.209"/>
    <add key="PORT"  value="4043"/>
    <add key ="SRequestTimeout" value="30"/>
    <add key="CloseExistingInstance" value="1"/>
    <add key="UpdateApplicationOnStart" value="0"/>
    <!--<add key="URL" value="http://localhost:51455/api/"/>-->
     <add key="URL" value="http://localhost/SESService/api/"/>
  </appSettings>
</configuration>