<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="APPType"  value="1"/> 
    <add key="ResourceID"  value="0"/> 
    <add key ="SRequestTimeout" value="30"/>
    <add key="CloseExistingInstance" value="1"/>
    <add key="UpdateApplicationOnStart" value="0"/> 
     <add key="URL" value="http://localhost/NPIEService/api/"/>
     <add key="SaveLog" value="0"/>
  </appSettings>
</configuration>